/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 98px;
  font: 16px Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 32px;
  color: #777777;
  background-image: url(../images/background.png);
}

h1, h2, h3, h4, h5, h6{
  font-family: Georgia, Times, 'Times New Roman', serif;
}

h2,h3{
  color: #4aaaa5;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  text-align: center;
  background: #666;
  color: #cccccc;
  border-top: 8px solid #4aaaa5;
  font-size: 12px;
  padding: 20px;
}

#logo
{
  float: left;
  width: 250px;
  height: 90px;
  line-height: 50px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  margin-left: 0;
}

p{
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

.links li a {
  color: #999;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  border-left: 1px solid #cccccc;
  margin-left: 10px;
  padding-left: 25px;
}

.links li:first-child a{
  border-left: 0 none;
}

.header-container, .main-container
{
  /*width: 60%;*/
  /*width: 960px;*/
}

.navbar-collapse:last-child{
  padding-right: 0px;
}

.navbar-right{
  margin-top: 35px;
}

.img-thumbnail{
  border: 0px;
  border-style: none;
}

#main-content{
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
  padding:5px 25px 25px 25px;
}

#side-bar{
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
  padding:5px 25px 25px 25px;
}

#profile-img{
  width: 45%;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.media-icon{
  width: 62px;
  height: 62px;
}

.header-navbar{
   border-bottom: 2px solid #ccc;
}

.project-name{
  padding: 10px;
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 20px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  position: absolute;
  bottom: 25px;
  width: 100%;
  pointer-events: none;
}

.project-image{
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  float: left;
  padding:0;
}

.project{
  width: 100%;
  height: 100%;
  padding: 15px 0;
  float: left;
  position: relative;
}

button[type=submit]
{
  padding:10px 20px; 
  border:0 none;
  cursor:pointer;
  background-color: #4aaaa5;
  font-size: 18px; 
  color: #ffffff;
}

textarea{
  color: #b0b0b0;
  font-size: 15px;
  border-style: solid 2px;
}

@media screen and (max-width: 1199px) {
  #profile-img{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  #profile-img{
    width: 45%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  #profile-img{
    width: 100%;
    height: auto;
  }

  #logo{
    width: 100%;
  }

  #navbar-links {
    text-align: center;
  }

  .links > li
  {
    display: inline-block;
  }
}
